/* Navigation Bar */

#navbar{
    flex-direction: column;
}

#navbar ul li a{
    font-size: 1rem;
    padding: 0;
}

/* Home Section */
#home{
    height: 280px;
    /* flex-direction: column; */
    padding: 3px 68px;
}
#home::before{
    height: 500px;
}
#home p{
    font-size: 0.9rem;
}
/* Services Section */

#services{
    flex-direction: column;
}

/* About Us Section */

#clients{
    flex-wrap: wrap;
}
#clients img{
    width: 66px;
    padding:20px;
}
/* Contact Us section */

/* Footer */

/* Utility Classes */
.h-primary{
    font-size: 26px;
}
.btn{
    font-size: 13px;
    padding:4px 8px;
}
