* {
  margin: 0;
  padding: 0;
}
/* ul,img{
    border:4px solid black;
    height:150px;
    width:260px
} */
/* CSS Variables */
:root {
  --navbar-height: 59px;
}
/* Navigation Bar  */
#navbar {
  display: flex;
  align-items: center;
  position:relative;
  
}
#navbar::before {
  content: "";
  background-color: black;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  opacity: 0.4;
  top:0px;
  left:0px;

}

/* Navbar:Logo and image  */

#logo {
  /* margin: 30px 45px; */
}

#logo img {
  height: 150px;
  width: 260px;
  margin: 3px 6px;
}

/* Navbar:list styling */
#navbar ul {
  display: flex;
  font-family: "Baloo Bhai 2", cursive;
  margin-top: 20px;
}

#navbar ul li {
  list-style: none;
  font-size: 1.3rem;
}
#navbar ul li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 3px 32px;
  border-radius: 20px;
}
#navbar ul li a:hover {
  color: black;
  background-color: white;
}
/* Home section */
#home {
  display: flex;
  flex-direction: column;
  padding: 3px 100px;
  justify-content: center;
  align-items: center;
  height: 850px;
}
#home::before {
    content: "";
    background:url('/img/bg3.jpeg');
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    top:0px;
    left:0px;
    opacity: 0.89;
    
}
#home h1 {
  color: black;
  text-align: center;
  font-family: "Bree Serif", serif;
}
#home p {
  color: black;
  text-align: center;
  font-size: 1.5rem;
  font-family: "Bree Serif", serif;
}
/* Services section */
#services{
    margin: 34px;
    display: flex;
}
#services .box{
    border: 5px solid black;
    margin-top: 37px;
    padding: 34px;
    margin: 3px 6px;
    border-radius: 28px;
    background-color: #f2f2f2;
}
    
    

#services .box img{
    height: 160px;
    display: block;
    margin: auto;
}
#services .box p{
    font-family: "Bree Serif", serif;
}


/* client Section */
#client-section{
  /* position: relative; */
  height: 344px;
  /* background-color: black; */

}
#client-section::before{
  content: '';
  position:absolute;
  background: url('/img/contact_3.jpg');
  width: 100%;
  height: 54%;
  z-index: -1;
  opacity: 0.4;
}
.client-item{
  padding: 34px;
}
#clients{
  display: flex;
  justify-content: center;
  align-items: center;
}
#clients img{
  height:125px;
}

/* contact section */

#contact{
  position: relative;
}
#contact::before{
  content:"";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.7;
  background: url('/img/contact.jpeg') no-repeat center center/cover;
}

  #contact-box{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 34px;
}
#contact-box input,
#contact-box textarea{
  width: 100%;
  padding: 0.5rem;
  border-radius: 9px;
  font-size: 1.1rem;
} 
#contact-box form{
  width: 40%;

} 

 #contact-box label{
  font-size: 1.5rem;
  font-family: "Bree Serif", serif;
}; 



footer{
  background-color: black;
  color: white;
  padding: 9px 20px;
}
/* Utility Class */
.h-primary {
  font-size: 3.8rem;
  padding: 20px;
  font-family: "Bree Serif", serif;
}
.h-secondary{
  font-size: 2.3rem;
  padding: 20px;
  font-family: "Bree Serif", serif;
}
.btn {
  padding: 6px 20px;
  background-color: black;
  color: white;
  border: 2px solid white;
  margin: 17px;
  font-size: 1.3rem;
  border-radius: 10px;
  cursor: pointer;
}
.center{
    text-align: center;
}
